# Zhipu GLM
ZHIPU_API_KEY =
ZHIPU_API_BASE=

# Google Gemini
GEMINI_API_KEY =
GEMINI_API_BASE=

# OpenAI ChatGPT
OPENAI_API_KEY =
OPENAI_API_BASE=

# Anthropic Claude
ANTHROPIC_API_KEY =
ANTHROPIC_API_BASE=

# Qdrant
QDRANT_API_KEY =
QDRANT_ENDPOINT=